<header id='navbar'>
    <nav>
        <img class="image" src="assets/logo@3x.png" alt="newbwell">
        <div class="list">
            <ul>
                    <li><a href="#" routLink = "#" class="nav-link active">HOME</a></li>
                    <li><a href="#" routLink="#" class="nav-link drop">Solutions</a><select><option></option></select></li>
                    <li><a href="#" routLink="#" class="nav-link drop">Products</a><select><option></option></select></li>
                    <li><a href="#" routLink="#" class="nav-link ">Technology</a></li>
                  <li><a href="#" routLink="#" class="nav-link ">Contact Us</a></li>
                  <li><a href="#" routLink="#" class="nav-link ">About Us</a></li>
            </ul>
          <div class="button">
            <button mat-flat-button color="primary">REQUEST DEMO</button>
          </div>
        </div>
    </nav>
</header>    
