<main>
    <div class="wrapper">
      <header>
        <h2 id="header">Our Technology</h2>
        <p id="para"><span>Tri-O-Core™</span> is Nubewell’s next generation hardware architecture which allows up to 80Gbps of
          Network traffic acceleration and 40Gbps of SSL throughput.</p>
        <button id = "btn" mat-flat-button>LEARN MORE</button>
      </header>
      <section>
        <div class="container">
          <div class="crypto tech-cards">
            <img src="assets/crypto-accel@3x.png" alt="lock pic">
            <h3>Crypto Accel</h3>
            <p>Crypto Accel block is the high performance hardware encryption engine with latest crypto graphic
              algorithms.</p>
          </div>
          <div class="incubator tech-cards">
            <h5>“ Tri-O-Core“</h5>
            <img src="assets/box@3x.png" alt="box">
          </div>
          <div class="data-path crypto tech-cards">
            <img src="assets/data-path@3x.png" alt="lock pic">
            <h3>DataPath</h3>
            <p>DataPath is the hardware scheduled copy-free packet processing with protocol & Application classification
              engine.</p>
          </div>
        </div>
        <div class="user-interface">
          <div class="interface">
            <div class="interface-header">
              <h3>Control Path</h3>
              <p>Control Path core takes care of unified-control, Modern User-experience, Actionable
                Analytics,Network visibility, and industry leading CLI Support with multi tenent(NFV - Network
                function vertualization) architecture.</p>
            </div>
            <img src="assets/control-path-2-x@3x.png" alt="">
          </div>
        </div>
      </section>
    </div>
</main>
