<main>
    <div class="jumbotron">
      <div class="section">
        <div class="col1" >
          <h1 @fade>Smart Generation Network Security</h1>
          <h4 @fadeUp>High-Throughput Network Traffic Visibility, Optimization and Security.</h4>
          <button @fadeUpDelay mat-flat-button color ="primary">GET STARTED</button>
        </div>
        <div class="col2" @fadeLeft>
          <img src="assets/imac@3x.png" alt="" srcset="">
        </div>
      </div>
    </div>
   
    <div class="float">
      <div class="section2">
        <div class="row1">
          <h2 id = 'float-header'>Why Nubewell</h2>
          <p id="float-para">Nubewell has designed and developed innovative Cloud Gen Hardware with award winning User Interface to
            run
            WAN - OP / SSL-VA / SSL-i Network functions with High Throughput at flexi prices.</p>
        </div>
        <div class="row2">
          <div class="card float-card">
            <img src="assets/unique-hardware@3x.png" alt="Hardware pic">
            <h3>Unique Hardware</h3>
            <p><span>Tri-O-Core</span> Hardware with Eight Bypass 10G Interfaces, NVMe, with Split Path
              Architecture.
            </p>
          </div>
          <div class="card float-card">
            <img src="assets/centralized-control@3x.png" alt="Hardware pic">
            <h3>High Throughput</h3>
            <p> Industries first 10G WAN Optimization at 50Gbps SSL interception with kernel free architecture.</p>
          </div>
          <div class="card float-card">
            <img src="assets/unique-hardware@3x.png" alt="Hardware pic">
            <h3>Highly Customizable</h3>
            <p>Our Software is highly customizable to meet any requirements of the customer.</p>
          </div>
        </div>
      </div>
    </div>
    <app-our-technology></app-our-technology>
    <app-network></app-network>
</main>