<div class="network-section">
    <header>
        <h2 id="network-header">Our solutions simplify your IT infrastructure and let you focus more on your business</h2>
        <p id="network-para">Large businesses require an elaborate IT infrastructure and a dedicated team to look after it. Small
          businesses can’t afford to have the budget for traditional IT infrastructure, yet they need a fully functional
          IT management system in order to stay competitive. Traditional IT solutions are not flexible for future
          upgrades. Nubewell’s hybrid network solutions offer higher performance, agility, and security to your network
          infrastructure. With Nubewell’s solutions you can reduce hardware, software, and data center expenses and gain
          centralized control over all of your networked devices and applications.</p>
    </header>
    <section>
        <div class="card">
            <div class="sd-wan">
                <div class="card-image"><img src="assets/sd-wan@3x.png" alt="globe"></div>
                <div class="head">
                    <h3>SD-WAN / WAN Optimization</h3>
                    <p>Nubewell’s Smart SD-WAN uses the Internet to create a centralized WAN which is easier to deploy,
                      control, and monitor at lesser operating cost. Smart SD-WAN also makes it easier to perform
                      network analytics, traffic management, and monitor network traffic.</p>
                </div>
            </div>
            <a href="#">LEARN More</a>
        </div>
        <div class="card">
          <div class="sd-wan">
            <div class="card-image"><img src="assets/ssl-va@3x.png" alt="globe"></div>
            <div class="head">
              <h3>SD-WAN / WAN Optimization</h3>
              <p>Nubewell’s Smart SD-WAN uses the Internet to create a centralized WAN which is easier to deploy,
                control, and monitor at lesser operating cost. Smart SD-WAN also makes it easier to perform
                network analytics, traffic management, and monitor network traffic.</p>
            </div>
          </div>
          <a href="#">LEARN More</a>
        </div>
        <div class="card">
          <div class="sd-wan">
            <div class="card-image"><img src="assets/lawful@3x.png" alt="globe"></div>
            <div class="head">
              <h3>SD-WAN / WAN Optimization</h3>
              <p>Nubewell’s Smart SD-WAN uses the Internet to create a centralized WAN which is easier to deploy,
                control, and monitor at lesser operating cost. Smart SD-WAN also makes it easier to perform
                network analytics, traffic management, and monitor network traffic.</p>
            </div>
          </div>
          <a href="#">LEARN More</a>
        </div>
        <div class="card" >
          <div class="sd-wan">
            <div class="card-image"><img src="assets/Network-traffic-visibility@3x.png" alt="globe"></div>
            <div class="head">
              <h3>SD-WAN / WAN Optimization</h3>
              <p>Nubewell’s Smart SD-WAN uses the Internet to create a centralized WAN which is easier to deploy,
                control, and monitor at lesser operating cost. Smart SD-WAN also makes it easier to perform
                network analytics, traffic management, and monitor network traffic.</p>
            </div>
          </div>
          <a href="#">LEARN More</a>
        </div>
    </section>
</div>